<div class="container-fluid">
    <div class="title">
      <i class="fad fa-box-open"></i><span>Thùng nhựa Danpla</span>
    </div>
    <div class="btnSocial">
      <button (click)="openDialogSocial(this.dataFormSocial)" mat-raised-button class="btn"><i class="fad fa-share-alt"></i><span>Chỉnh sửa mạng xã hội</span></button>
    </div>
  
  <!--  <div class="social-group" *ngIf="dataFormSocial">-->
  <!--    <div class="social-group__item">-->
  <!--      <div class="fb-page" data-href="https://www.facebook.com/KT-PACK-111975614638829" data-width="500"></div>-->
  <!--    </div>-->
  <!--    <div class="social-group__item">-->
  <!--      <div class="icon messenger">-->
  <!--        <a href="{{dataFormSocial.messenger}}" target="_blank">-->
  <!--          <img src="./assets/Storage/Upload/icon/Facebook-Messenger-200.png" alt="">-->
  <!--        </a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="social-group__item">-->
  <!--      <div class="icon zalo">-->
  <!--        <a href="{{dataFormSocial.zalo}}" target="_blank">-->
  <!--          <img src="./assets/Storage/Upload/icon/zalo_icon.png" alt="">-->
  <!--        </a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="social-group__item" target="_blank">-->
  <!--      <div class="icon map">-->
  <!--        <a href="{{linkMap}}">-->
  <!--          <img src="./assets/Storage/Upload/icon/icon-map.png" alt="">-->
  <!--        </a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  
  
  </div>
  