<div class="menuHeader">
  <ul>
    <li>
      <a rel="canonical" class="linkMother" href="" routerLink="{{dataHeader[0].mother.link}}"
         routerLinkActive="$router_link-active$"></a>
      {{dataHeader[0].mother.name}}
    </li>
    <li>
      <a rel="canonical" class="linkMother" href="" routerLink="{{dataHeader[1].mother.link}}"
         routerLinkActive="$router_link-active$"></a>
      {{dataHeader[1].mother.name}}
    </li>
    <li *ngFor="let item of dataHeader| slice: 2: dataHeader.length - 2"><a rel="canonical" class="linkMother" href="" routerLink="{{item.mother.link}}"
                                                        routerLinkActive="$router_link-active$"></a>
      {{item.mother.name}}
      <ul>
        <li class="list-child" *ngFor="let item1 of item.child"><a rel="canonical" href="" routerLinkActive="$router_link-active$"
                                                routerLink="/productType/{{item1.link}}">{{item1.name}}</a>
        </li>
      </ul>
    </li>
      <li>
        <a rel="canonical" class="linkMother" href="" routerLink="{{dataHeader[dataHeader.length - 2].mother.link}}"
           routerLinkActive="$router_link-active$"></a> {{dataHeader[dataHeader.length - 2].mother.name}}
      </li>
      <li>
        <a  rel="canonical" class="linkMother" href="" routerLink="{{dataHeader[dataHeader.length - 1].mother.link}}"
           routerLinkActive="$router_link-active$"></a>{{dataHeader[dataHeader.length - 1].mother.name}}
      </li>
  </ul>


</div>
