<div class="container-fluid">
  <div class="row row1">
    <div class="list-group">
      <i class="fal fa-list-ul"></i>
      <span>Danh mục</span>
    </div>
  </div>
  <div class="row row2">
    <ul>
      <li>
        <a rel="canonical" routerLink="{{dataHeader[0].mother.link}}" routerLinkActive="$router_link-active$">{{dataHeader[0].mother.name}}</a>
      </li>
      <li>
        <a rel="canonical" routerLink="{{dataHeader[1].mother.link}}" routerLinkActive="$router_link-active$">{{dataHeader[1].mother.name}}</a>
      </li>
    </ul>
    <ul>
      <li>
        <a rel="canonical" routerLink="{{dataHeader[dataHeader.length - 2].mother.link}}" routerLinkActive="$router_link-active$">{{dataHeader[dataHeader.length - 2].mother.name}}</a>
      </li>
      <li>
        <a rel="canonical" routerLink="{{dataHeader[dataHeader.length - 1].mother.link}}" routerLinkActive="$router_link-active$">{{dataHeader[dataHeader.length - 1].mother.name}}</a>
      </li>
    </ul>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of dataHeader| slice: 2: dataHeader.length -2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a rel="canonical" href=""  routerLink="{{item.mother.link}}" routerLinkActive="$router_link-active$">{{item.mother.name}} </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let item1 of item.child">
            <a rel="canonical" routerLink="/productType/{{item1.link}}" routerLinkActive="$router_link-active$">{{item1.name}}</a>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
