<div style="position: relative">
  <header [hidden]="this.dataServicesService.checkUrlAdmin">
    <app-header></app-header>
  </header>
  <app-fix-content [hidden]="this.dataServicesService.checkUrlAdmin"></app-fix-content>
  <div class="fixPos" [hidden]="this.dataServicesService.checkUrlAdmin">
    <div (click)="scrollTop()" class="scrollTop">
      <i class="fas fa-arrow-to-top"></i>
    </div>
  </div>
</div>

<app-admin [hidden]="!this.dataServicesService.checkUrlAdmin"></app-admin>


<router-outlet></router-outlet>

