<div class="container-fluid pm0">

    <app-content-tintuc [hidden]="adminComponent.returnValueCheck('tintuc')"></app-content-tintuc>
  
    <app-content-lienhe [hidden]="adminComponent.returnValueCheck('lienhe')"></app-content-lienhe>
  
    <app-content-gioithieu [hidden]="adminComponent.returnValueCheck('gioithieu')"></app-content-gioithieu>
  
    <app-content-thungnhuadanpla [hidden]="adminComponent.returnValueCheck('thungnhuadanpla')"></app-content-thungnhuadanpla>
  
    <app-content-vachnhuadanpla [hidden]="adminComponent.returnValueCheck('vachnhuadanpla')"></app-content-vachnhuadanpla>
  
    <app-content-xoppefoameva [hidden]="adminComponent.returnValueCheck('xoppefoameva')"></app-content-xoppefoameva>
  
    <app-content-xopbongkhi [hidden]="adminComponent.returnValueCheck('xopbongkhi')"></app-content-xopbongkhi>
  
    <app-content-trangchu [hidden]="adminComponent.returnValueCheck('trangchu')" ></app-content-trangchu>
  
    <app-content-tieude-main [hidden]="adminComponent.returnValueCheck('tieudeMain')"></app-content-tieude-main>
  
    <app-content-social [hidden]="adminComponent.returnValueCheck('social')"></app-content-social>
  </div>
  
  
  